{% extends 'CoreUsersBundle::layout.html.twig' %}
{% block title %}Helpdesk resetting password{% endblock %}
{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">Resetting your password</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                       You have requested a password reset at least once in the last 24 hours. Please check your inbox.
                    </div>
                    <a href="{{path('fos_user_security_login')}}" class="btn btn btn-primary pull-right">Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}