{% extends  "::dashboard.html.twig" %}
{% block title %}Message{% endblock %}
{% block header %}New message {% endblock %}
{% block mainpage %}
    <div class="col-lg-6">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                New message
            </div>
            <div class="panel-body">
                <form role="form"  action="{{path('message_create')}}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                          <label>Demand type</label>
                          <select name="demandType" class="form-control">
                              {% for demand in demands %}
                                  <option value="{{demand.id}}">{{demand.demandType}}</option>
                              {% endfor %}
                          </select>
                    </div>
                    <div class="form-group">
                          <label>Contact type</label>
                          <select name="contactType" class="form-control" onchange="handleContact(this);">
                              <option value="mail">Email</option>
                              <option value="adress">Adress</option>
                          </select>
                    </div>
                    <div class="form-group" id="user-adress" style="display: none">
                          <label>Adress</label>
                          <input type="text" name="adress" class="form-control" />
                    </div>
                    <div class="form-group">
                          <label>Subject</label>
                          <input type="text" name="subject" class="form-control" required />
                    </div>
                    <div class="form-group">
                          <label>Message</label>
                          <textarea name="message" class="form-control" required ></textarea>
                    </div>
                    <div class="form-group">
                        <label>Attach files</label>
                        <input type="file" multiple name="attachments[]" class="form-control" />
                    </div>
                   
                    
                    
                    <input type="submit" class="btn btn-primary" value="Send" />
                </form>
            </div>
        </div>

    </div>
{% endblock %}
{% block addScripts %}
<script>
function handleContact(item)
{
    var contact = $(item).val();
    if(contact =='adress')
    {
        $("#user-adress input[type=text]").prop("required",true);
        $("#user-adress").show();
    }
    else
    {
        $("#user-adress input[type=text]").prop("required",false);
        $("#user-adress").hide();
    }
}
</script>
{% endblock %}